{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<div class="profile-container" >
{#                                <img src="{{ profile.image.url }}" alt="Profile Picture">#}
                                <h1>{{ profile.user }}</h1>
                                <h3>{{ profile.user.email }}</h3>
                                <a href="{% url 'profile_edit' %}">Edit Profile</a>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->




{% endblock content %}

