{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<div class="profile-container" >
{#                                <img src="{{ profile.image.url }}" alt="Profile Picture">#}
                                <h1>{{ profile.user }}</h1>
                                <h3>{{ profile.user.email }}</h3>
                                <a href="{% url 'profile_edit' %}">Edit Profile</a>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->


    <!-- portfolio section start -->




		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1><i class="icofont icofont-movie"></i> Watched History</h1>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
					    <div class="portfolio-menu">

						</div>
					</div>
				</div>
				<hr />
				<div class="row portfolio-item">
                    {% for movie in watched_movies %}
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="single-portfolio">
							<div class="single-portfolio-img">
								<img src="{{ movie.image.url }}" alt="portfolio" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="portfolio-content">
								<h2><a href="{% url 'movie_detail' movie.id %}">{{ movie.title | truncatechars:13 }}</a></h2>
								<div class="review">
									<div class="author-review">
										<div class="author-review">
												{% if movie.vote_average > 9 %}
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        {% elif movie.vote_average > 8 %}
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        {% elif movie.vote_average > 6 %}
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        {% elif movie.vote_average > 4 %}
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        {% elif movie.vote_average > 2 %}
                                            <i class="icofont icofont-star"></i>
                                        {% endif %}
											</div>
									</div>
									<h4>{{ movie.vote_count }}k voters</h4>
								</div>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>
		</section><!-- portfolio section end -->









{% endblock content %}

