{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<p>Logged out!</p>
                            <a href="{% url 'login'%}">Click here to login again.</a>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->




{% endblock content %}
